<div class="page-header">
  <div class="container">
    <h1>{{this.header}}</h1>
  </div>
</div>


<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/students" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go Back
      </a>
    </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <!--Student details-->
        <form #studentDetailsForm="ngForm">
          <div class="row">
            <div class="col-xs-6">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input type="text" matInput [(ngModel)]="student.firstName" name="firstName">
              </mat-form-field>
            </div>
            <div class="col-xs-6">
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input type="text" matInput [(ngModel)]="student.lastName" name="lastName">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <mat-form-field>
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="student.dateOfBirth" name="dateOfBirth" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Date Of Birth is a required field</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="text" matInput [(ngModel)]="student.email" name="email">
              </mat-form-field>
            </div>
            <div class="col-xs-6">
              <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input type="text" matInput [(ngModel)]="student.mobile" name="mobile">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select [(ngModel)]="student.genderId" name="gender">
                <mat-option *ngFor="let gender of genderList" [value]="gender.id">
                    {{gender.description}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <mat-form-field>
              <mat-label>Physical address</mat-label>
              <textarea matInput [(ngModel)]="student.address.physicalAddress" name="physicalAddress"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <mat-form-field>
              <mat-label>Postal address</mat-label>
              <textarea matInput [(ngModel)]="student.address.postalAddress" name="postalAddress"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="row between-xs" *ngIf="!isNewStudent">
              <button (click)="onUpdate()"mat-raised-button color="primary">Update data</button>
              <button (click)="onDelete()"mat-raised-button color="warn">Delete data</button>
              </div>
              <div class="row between-xs" *ngIf="isNewStudent">
                <button (click)="onAdd()" mat-raised-button color="warn">Add student</button>
              </div>
            </div>
          </div>


        </form>

      </div>
      <div class="col-xs-6">
        <!--image -->
      </div>

    </div>
  </div>

